body {
  font-family: "Josefin Sans", sans-serif;
}

/* Images. */

#Pic1 {
  background: url('./Images/Pic1.jpg') no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic2 {
  background: url(/Images/Pic2.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic3 {
  background: url(/Images/Pic31.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic4 {
  background: url(/Images/Pic4.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic5 {
  background: url(/Images/Pic5.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic6 {
  background: url(/Images/Pic6.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic7 {
  background: url(/Images/Pic7.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic8 {
  background: url(/Images/Pic8.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic9 {
  background: url(/Images/Pic9.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

#Pic10 {
  background: url(/Images/Pic10.png) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 677px;
}

.Pic11 {
  background: url(/Images/Images2/Img5.jpg) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 1000px;
}

/* Media Queries. */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #Pic1 {
    height: 185px !important;
    width: 100%;
  }

  #Pic2 {
    height: 190px !important;
    width: 100%;
  }

  #Pic3 {
    height: 190px !important;
    width: 100%;
  }

  #Pic4 {
    height: 190px !important;
    width: 100%;
  }

  #Pic5 {
    height: 190px !important;
    width: 100%;
  }

  #Pic6 {
    height: 190px !important;
    width: 100%;
  }

  #Pic7 {
    height: 178px !important;
    width: 100%;
  }

  #Pic8 {
    height: 190px !important;
    width: 100%;
  }

  #Pic9 {
    height: 190px !important;
    width: 100%;
  }

  #Pic10 {
    height: 193px !important;
    width: 100%;
  }

  .Pic11 {
   height: 220px;
   width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #Pic1 {
    height: 420px !important;
    width: 100%;
  }

  #Pic2 {
    height: 425px !important;
    width: 100%;
  }

  #Pic3 {
    height: 425px !important;
    width: 100%;
  }

  #Pic4 {
    height: 430px !important;
    width: 100%;
  }

  #Pic5 {
    height: 430px !important;
    width: 100%;
  }

  #Pic6 {
    height: 431px !important;
    width: 100%;
  }

  #Pic7 {
    height: 412px !important;
    width: 100%;
  }

  #Pic8 {
    height: 410px !important;
    width: 100%;
  }

  #Pic9 {
    height: 400px !important;
    width: 100%;
  }

  #Pic10 {
    height: 400px !important;
    width: 100%;
  }

  .Pic11 {
    height: 505px;
    width: 100%;
   }
 }
}


/* section. */
#Block {
  display: block !important;
  margin-bottom: 3rem;
}

#Text {
  margin-bottom: 3rem !important;
}

#Text1 {
  margin-bottom: 3rem !important;
}

nav ul li {
  text-decoration: underline;
}

nav ul li a {
  color: blue;
}

li:nth-child(6) {
  color: black;
  text-decoration: none;
}

/* Text section. */
#Text2 {
  color: black;
}

.Title h4 {
  margin-bottom: 2rem;
}

.Images_Div {
  box-shadow: 1px 10px 79px black;
  width: 89%;
  margin-bottom: 5rem;
}

#MB {
  margin-bottom: 3rem;
}

.Text3 {
  font-weight: bolder;
}

#Text4 {
  margin-bottom: 2rem;
}

.Book_Now {
  margin-bottom: 2rem;
}

#Ta {
  margin-left: 5px;
}

.List a{
    padding: 5px;
    text-decoration: underline;
    color: blue;
}

.List{
    margin-bottom: 1rem;
}

.Footer{
    line-height: 15px;
}

.Footer p a{
    text-decoration: underline;
    color: blue;
}
